* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: aquamarine;
}

body, .quote-input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: burlywood;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    font-size: 1rem;
    font-weight: bold;
}

.quote-input {
    background-color: transparent;
    border: 2px solid rgb(165, 131, 86);
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.quote-input:focus {
    border-color: darkolivegreen;
}

.stats {
width: 100%;
padding-left: 1rem;
}

.correct {
    color: rgb(33, 116, 33);
}

.incorrect {
    color: red;
    text-decoration: underline;
}